{% extends 'base.html' %}

{% block content %}
    <div class="section section-padding">
        <div class="container">
            <div class="row pt--100 pb--80">

                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="work-left work-details" data-aos="fade-up">
                        <div class="portfolio-main-info">
                            <h2 class="title">{{ post.title }}</h2>
                            <div class="work-details-list mt-12">
                                <div class="details-list">
                                    <label>Дата создания</label>
                                    <span>{{ post.created_at }}</span>
                                </div>
                                <div class="details-list">
                                    <label>Изменён</label>
                                    <span>{{ post.created_up }}</span>
                                </div>
                                <div class="details-list">
                                    <label>Категория</label>
                                    <span><a href="#">{{ post.category }}</a></span>
                                </div>
                                <div class="details-list">
                                    <label>Тег(и)</label><br>
                                    {% for tag in post.tag.all %}
                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 offset-lg-1 col-12">
                    <div class="work-left work-details mt-6">
                        <div class="work-main-info">
                            <div class="work-content">
                                <div class="desc mt-8">
                                    <div class="content mb-5" data-aos="fade-up">
                                        {{ post.text|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}