{% extends 'base.html' %}
{% load static %}{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block content %}
    <!-- Work Section Start -->
    <div class="section section-padding-t90-b100">
        <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mb-n6">
                {% for post in posts %}
                    <div class="col mb-6">
                        <div class="work border-1 border-danger">
                            <div class="thumbnail text-center">
                                <a class="image" href="{{ post.get_absolute_url }}">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" style="max-width: 200px; max-height: 200px;"
                                             alt="{{ post.title }}"></a>
                                    {% else %}
                                        <img src="https://img2.freepng.ru/20181125/wbe/kisspng-apartment-renting-london-residential-house-product-5bfa6d06347989.212131131543138566215.jpg"
                                             alt="{{ post.title }}"></a>
                                    {% endif %}
                            </div>
                            <div class="info">
                                <h3 class="title"><a href="work-details.html">{{ post.title }}</a></h3>
                                <p class="desc">{{ post.text|safe|truncatewords_html:20 }}</p>
                                <a href="{{ post.get_absolute_url }}">Конкретнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}