<nav class="{{ menu_class }}">
    <ul>
        <li class="has-children"><a href="{% url "home" %}"><span class="menu-text">Главная</span></a><span
                class="menu-toggle"></span>
        </li>
        <li><a href="about.html"><span class="menu-text">О проекте</span></a></li>
        <li><a href="service.html"><span class="menu-text">Сервисы</span></a></li>
        <li class="has-children">
            <a href="work.html"><span class="menu-text">Категории</span></a>
            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
            <ul class="sub-menu">
                {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}"><span
                            class="menu-text">{{ category.title }}</span></a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="contact-us.html"><span class="menu-text">Контакты</span></a>
        </li>
    </ul>
</nav>