{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>

<body>

<div id="page" class="section">
    {% include '_inc/header.html' %}

    {% block content %}

    {% endblock %}


    {% include '_inc/footer.html' %}
</div>

<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="index.html"><img src="{% static 'assets/images/logo/logo.png' %}" alt=""></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li class="has-children">
                        <a href="index.html"><span class="menu-text">Homepage</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="index.html"><span class="menu-text">Home One</span></a></li>
                            <li><a href="index-2.html"><span class="menu-text">Home Two</span></a></li>
                            <li><a href="index-3.html"><span class="menu-text">Home Three</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="about.html"><span class="menu-text">About Us</span></a>
                    </li>
                    <li>
                        <a href="service.html"><span class="menu-text">Services</span></a>
                    </li>
                    <li class="has-children">
                        <a href="work.html"><span class="menu-text">Work</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="work.html"><span class="menu-text">Work</span></a></li>
                            <li><a href="work-details.html"><span class="menu-text">Work Details</span></a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Blog</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                            <li><a href="blog-classic.html"><span class="menu-text">Blog Classic</span></a></li>
                            <li><a href="blog-details.html"><span class="menu-text">Blog Details</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact-us.html"><span class="menu-text">Contact Us</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script src="{% static 'assets/js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'my.js' %}"></script>


</body>

</html>