{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>

<body>

<div id="page" class="section">
    {% include '_inc/header.html' %}

    {% block content %}

    {% endblock %}


    {% include '_inc/footer.html' %}
</div>

{% include '_inc/mobile.html' %}


<script src="{% static 'assets/js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'my.js' %}"></script>


</body>

</html>